@model SistemaInventario.Modelos.ViewModels.ProductoVM
@using SistemaInventario.Utilidades
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear nuevo producto";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.Producto.Id != 0)
    {
        titulo = "Editar producto";
        <input type="hidden" asp-for="Producto.Id" />
        <input type="hidden" asp-for="Producto.ImagenUrl" />
    }

    <div class="border-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2 class="text-info">@titulo</h2>
        </div>

        <div class="row"></div>
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Número de serie</label>
                            <input asp-for="Producto.NumeroSerie" class="form-control"/>
                            <span asp-validation-for="Producto.NumeroSerie" class="text-danger"></span>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Descripción</label>
                        <input asp-for="Producto.Descripcion" class="form-control" />
                        <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Coste</label>
                        <input asp-for="Producto.Coste" class="form-control" />
                        <span asp-validation-for="Producto.Coste" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Precio</label>
                        <input asp-for="Producto.Precio" class="form-control" />
                        <span asp-validation-for="Producto.Precio" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Imagen</label>
                        <input type="file" accept="image/png,image/jpg, image/gif, image/jepg" name="files" id="imagenId" class="form-control" />
                        <span asp-validation-for="Producto.NumeroSerie" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <label>Categoría </label>
                        <select asp-for="Producto.CategoriaId" asp-items="@Model.CategoriaLista" class="form-select">
                            <option disabled selected>-- Selecciona una categoría --</option>
                        </select>
                        <span asp-validation-for="Producto.CategoriaId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Marca </label>
                        <select asp-for="Producto.MarcaId" asp-items="@Model.MarcasLista" class="form-select">
                            <option disabled selected>-- Selecciona una marca --</option>
                        </select>
                        <span asp-validation-for="Producto.MarcaId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Producto Padre </label>
                        <select asp-for="Producto.PadreId" asp-items="@Model.PadreLista" class="form-select">
                            <option disabled selected>-- Producto Padre --</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Estado </label>
                        <select asp-for="Producto.Estado" class="form-select">
                            <option value="true">Activo</option>
                            <option value="false">Inactivo</option>
                        </select>
                        <span asp-validation-for="Producto.Estado" class="text-danger"></span>
                    </div>
                </div>

                <br />


                <div class="d-grid gap-2 d-md-block">
                    @if(Model.Producto.Id != 0)
                    {
                        <partial name="_BotonesActualizarYRegresar" model="Model.Producto.Id" />
                    }
                    else
                    {
                        <button type="submit" onclick="return validarImagen()" class="btn btn-primary"><i class="bi bi-plus-square-fill"></i> Crear</button>
                        <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-return-left"></i> Volver</a>
                    
                    }

                </div>
            </div>

            <div class="col-4">
                @if(Model.Producto.Id != 0)
                {
                    <img src="@DS.RutaImagen@Model.Producto.ImagenUrl" width="100%" style="border-radius:5px; border:1px solid #bbb" s="img-thumbnail" />
                }
            </div>
    </div>


</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>

    <script>
        function validarImagen() {
            var imagen = document.getElementById("imagenId").value;
            if (imagen == "") {
                swal("Error","Debes seleccionar una imagen","error");
                return false;
            }
            return true;
        }
    </script>
}